<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a routerLink="/" class="navbar-brand">
    My Forum
  </a>
  <div class="navbar-nav mr-auto">
    <li class="nav-item">
      <a routerLink="/topic" class="nav-link">Topics</a>
    </li>
  </div>
  <div class="navbar-nav ml-auto" *ngIf="!currentUser">
    <li class="nav-item">
      <a routerLink="/register" class="nav-link">
        <span class="glyphicon glyphicon-user"></span> Sign Up
      </a>
    </li>
    <li class="nav-item">
      <a routerLink="/login" class="nav-link">
        <span class="glyphicon glyphicon-log-in"></span> Login
      </a>
    </li>
  </div>
  <div class="navbar-nav ml-auto" *ngIf="currentUser">
    <li class="nav-item" *ngIf="userAdmin">
      <a routerLink="/manag" class="nav-link">
        <span class="glyphicon glyphicon-signal"></span> All users
        <!-- <span class="glyphicon glyphicon-user"></span> {{currentUser.username}} -->
      </a>
    </li>

<!--    https://stackoverflow.com/questions/39848789/angular-2-show-hide-components-parts-based-on-roles-claims  -->
<!--    https://jasonwatmore.com/post/2019/08/06/angular-8-role-based-authorization-tutorial-with-example  -->
    <li class="nav-item" >
      <a routerLink="/user-account" class="nav-link">
        <span class="glyphicon glyphicon-user"></span> {{currentUser.userId}}
      </a>
    </li>

    <li class="nav-item">
      <a (click)="logOut()" class="nav-link"  style="cursor: pointer;">
        <span class="glyphicon glyphicon-log-in"></span> LogOut
      </a>
    </li>

    <li class="nav-item">
      <div class="theme-switch-wrapper">
        <label class="switch">
          <input type="checkbox" (click)="toggle()" >
          <span class="slider round"></span>
        </label>
<!--        <em>Enable Dark Mode!</em>-->
      </div>
    </li>
  </div>
</nav>

<div app-theme>
  <!--    i18-->
<!--  <p>-->
<!--    <a href="\">English</a>-->
<!--    <br>-->
<!--    <a href="\ru">Russian</a>-->
<!--  </p>-->
  <div class="main container-fluid">
    <router-outlet></router-outlet>
    <app-footer></app-footer>
  </div>
</div>
